@charset "utf-8";

@import url('https://fonts.googleapis.com/css2? family= Work+Sans:ital,wght@0,100;0,200;0,300;0,500;1,100;1,300;1,400 & display=swap');

@font-face {
    font-family:'android';
    src: url('../fontes/Android.ttf') format('opentype');
    font-weight: normal;
} 

:root{
    --cor00:#c5ebd6;
    --cor01:#83e1ad;
    --cor02:#3ddc84;
    --cor03:#2fa866;
    --cor04:#1a5c37;
    --cor05:#063d1e;

    --font-padrao: arial, helvetica, verdana, sans-serif;
    --font-destaque:'oswald', arial;
    --font-android:'android';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor03);
    font-family: var(--font-padrao);    
}

a.externo::after{
    content: '\00a0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor04));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header>h1{
    color: white;
    font-family: var(--font-destaque);
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 3em;
    box-shadow: 2px 2 px 0px rgba(0, 0, 0, 0.462);
}

header>p{
    color: white;
    font-size: 1.2em;
    font-family: var(--font-padrao);
    max-width: 500px;
    margin: auto;
    padding-left: 10;
    padding-right: 10;
    padding-bottom: 25px;
    box-shadow: 2px 2 px 0px rgba(0, 0, 0, 0.462);
}

nav{
    background-color: var(--cor05);
    padding: 10px;
}

nav > a {
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
    font-weight: bold;
}

nav > a:hover{
    background-color: var(--cor03);
    color: var(--cor05);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img.danpq{
    margin: auto;
    display: block;
}

main img.irinapq{
    border-radius: 2px;
    margin: auto;
    display: block;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main  h1{
    color:var(--cor05)
}

main h2{
    font-family: var(--font-android);
    color: var(--cor05);
    font-size: 1em;
    background-image: linear-gradient(to right, var(--cor02), transparent);
    text-indent: 10px;
    padding: 7px 0px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

main a {
    color: var(--cor05);
    background-color: var(--cor02);
    font-weight: bold;
    text-decoration: none;
    padding: 2px 6 px;
}

main a:hover{
    text-decoration: underline;
    color: blue;
}

main strong {
    color: var(--cor05);
    padding: 2px 6px;
    font-weight: bold;
}

div.video{
    background-color: var(--cor04);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

aside{
    background-color: var(--cor01);
    border-radius: 10px;
    padding: 10px;
}

aside h3 {
    background-color: var(--cor04);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}

aside ul {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor05);
    color: #787878;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}